// .main p{
//     color: rgb(57, 209, 57); //берет все p внутри
// }

.main>p {
    //берет только те p которые вложеные но только один раз 
    //choose <p> wich is nested but only for one level
    color: red;
}

p.block {
    //выберает все p у которых класс .block
    // choose all p wich class is .block
    background-color: orange;
}

img~p {
    // берет не вложеные p , а все p которые идут после img и находятся на одном уровне 
    // choose all p wich are on the same nesting as img
    color: red;
}

.mama+p {
    //обязательно должен идти сразу после .mama на одном уровне
    // choose p wich is exactly after .mama class 
    color: blue;
}

/* Select all <a> elements with a href attribute */
a[href] {
    color: blue;
}

/* Select all <input> elements with a type attribute set to "text" */
input[type="text"] {
    background-color: #f0f0f0;
}

/* Select all <img> elements with an alt attribute that contains the word "cat" */
img[alt~="cat"] {
    border: 1px solid black;
}

/* Select all <option> elements with a value attribute that starts with "fr" */
option[value|="fr"] {
    font-style: italic;
}