
.mainBlock{  
    height: 100px;
    overflow-y: scroll;
}

.block{
    width: 400px;
    height: 200px;
    border-left: 10px;
    background-color: red;
}
.papa{
    background-color: blue;
    height: 100px;
}