.checkbox {
    display: none;
}

.check {
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    border-radius: 4px;
    position: relative;
}

input:checked+.check {
    &::after {
        content: "";
        position: absolute;
        left: 3px;
        top: -1px;
        width: 5px;
        height: 9px;
        border: solid #000;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 1;
    }
}