.mama{
    color: blue;
}
.mama{
    color: red;
}
.cont{
    overflow: auto;

    background-color: red;
    height: 300px;
    width: 300px;
}
.tyt{
    height: 500px;
}
.stick{
    position: sticky;
    bottom: 100px;
}