// .gridBlock.block1 {   
//     grid-area: block1; // нужно давать название что бы можно было 
// }

// .gridBlock.block2 {
//     grid-area: block2;
// }

// .gridBlock.block3 {
//     grid-area: block3;
// }

// .gridBlock.block4 {
//     grid-area: block4;
// }

// .gridBlock.block5 {
//     grid-area: block5;
// }

.displayBlock {
    display: grid;
    max-width: 500px;
    background-color: black;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px; //row column
    // grid-template-areas:
    //     'block1 block1' 
    //     'block2 block3'
    //     'block4 block4'
    //     'block5 block5';
}

.gridBlock {
    display: flex;
    justify-content: center;
    // padding: 20px;
    background-color: red;
    border: 1px solid orange;
    width: 20px;
}

.displayBlock {
    .gridBlock:first-child {
        grid-column: 1/3 //занимает пространство начинаея с первой колнки и до 3

    }
}
